.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__info-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__info {
  font-family: "Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__button {
  font-family: "Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.4s;
}

.header__username {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Grotesk", sans-serif;
  color: #000;
}

.header__useravatar {
  width: 40px;
  height: 40px;
}

.header__button:hover:not(:disabled) {
  opacity: 0.6;
}

.header__userinfo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.header__userinfo-link:link {
  text-decoration: none;
}

.header__userinfo-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__username {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Grotesk", sans-serif;
  color: #000;
}

.header__useravatar {
  width: 40px;
  height: 40px;
}

.header__useravatar-letter {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 5px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  font-style: normal;
  font-family: "Grotesk", sans-serif;
}

.header__signup-button {
  gap: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Grotesk", sans-serif;
}

.header__signup-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__login-button {
  gap: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Grotesk", sans-serif;
}

.header__login-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__add-button {
  gap: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Grotesk", sans-serif;
}
